.alert {
  background: rgba(0, 0, 255, 0.1);
  border: 0;
  margin: 0;
  padding: 0;
  &__close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    
  }
  &__container {
    position: relative;
    margin: auto;
    max-width: 1440px;
    padding: 10px 60px;
    box-sizing: border-box;
    font-size: 0.9rem;
  }
  &__info {
    color: $ww-primary-text-color;
    &--link {
      color: blue;
    }
  }
}
@media (max-width: 768px) {
  .alert{
    &__container{
      padding: 16px;
    }
  }
}
