.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 7;
  background: #fff;
  &__menu-toggler{
    display: none;
  }
  &__mobile-item{
    display: none;
  }
  &__container {
    max-width: 1440px;
    height: 80px;
    margin: auto;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  &__section {
    display: flex;
    width: 50%;
    &--second {
      align-items: inherit;
      display: inline-flex;
    }
  }
  &__item-list {
    margin: 0 0 0 40px;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }
  &__link {
    padding-bottom: 8px;
  }
  &__button {
    margin: 0 40px 0 0;
    color: blue;
    border-radius: 0.25rem;
    border: 1px solid blue;
    padding: 10px 15px;
    &__button:hover {
      background: #ccf;
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar{
    &__menu-toggler{
      display: inline;
      margin-right: 16px;
    }
    &__container{
      padding: 0 16px;
    }
    &__mobile-menu{
      padding: 16px;
      width: 100%;
      height: 100hv;
      position: fixed;
      display: flex;
      flex-direction: column;
      margin: 0;
      top:0;
      bottom:0;
      left: 0;
      background: white;
      z-index: 3;
    }
    &__mobile-item{
      display: block;
      color: #15141A;
      font-size: x-large;
      font-weight: 700;
      margin: 16px 0;
    }
    &__item-list{
      display: none;
    }
    &__button{
      margin: 0;
    }
    &__link{
      display: none;
    }
  }
}
